spring:
  profiles:
    active: test
  jpa:
    open-in-view: false
  servlet:
    # Enable Image upload
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB